* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    text-align: center;
    flex-grow: 1;
    padding: 1em;
}

nav {
    padding-top: 1em;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
}

nav ul li {
    padding-left: .7em;
}

header {
    padding-bottom: 2em;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 1em;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin: auto;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}